{{!-- File Written by Danielle --}}

<div class="modal fade" id="{{authentication.username}}_info" tabindex="-1" role="dialog" aria-labelledby="user_info_lab" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="join_project_modal_label">{{authentication.username}}</h4>
      </div>
      <div class="modal-body">
        <p><b>Name:</b> {{info.name}}</p>
        <p><b>Email:</b> {{info.email}}</p>
        <p><b>Phone Numer:</b> {{info.phone}}</p>
        <p><b>Location:</b> {{info.location}}</p>
        <p><b>Availability:</b> {{info.availability}}</p>
        <p><b>Skills:</b> {{info.skills}}</p>
        <p><b>Timing:</b> {{info.timing}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>