<div id="project">

  <div class="container">

    <div class="row">
      <span style="float:right"><a href="#" id="home-link">Home</a><a href="#" id="logout-link">Logout</a></span>
      <h1 class="title">GroupFinder</h1>
    </div>

    <div class="row" id="project_container">

      <div id="project_panel" class="col-sm-4">

        <h3>{{project.name}}</h3>
        <p>
          <b>Due Date:</b> <br>
          {{project.end_date}}
        </p>

        <form action="demo_form.asp" method="get">
          <p><span style="float:left"><b>Low</b></span><span style="float:right"><b>High</b></span></p>
          <p>Location</p>
          <input type="range" name="location" min="0" max="10">
          <p>Availability</p>
          <input type="range" name="availability" min="0" max="10">
          <p>Desired Grade</p>
          <input type="range" name="desired_grade" min="0" max="10">
          <p>Interaction</p>
          <input type="range" name="interaction" min="0" max="10">
          <p>Dedication</p>
          <input type="range" name="dedication" min="0" max="10">
          <p>Timing</p>
          <input type="range" name="timing" min="0" max="10">
          <input type="submit" value="Filter">
        </form>
      </div>

      <div class="col-sm-8">
        <h1>Members</h1>
          <table class="table">
            <tr>
              <th>Rank</th>
              <th>Username</th>
              <th>Location</th>
            </tr>
            {{#each users}}
              <tr>
                <td>{{@index}}</td>
                <td><a class="user_info" data-toggle="modal" data-target="#{{authentication.username}}_info">{{authentication.username}}</a></td>
                <td>{{info.location}}</td>
              </tr>
              {{> modal}}
            {{/each}}
          </table>
      </div>

    </div>
  </div>

</div>