<div id="user">

  <p><span>Welcome, </span><span>{{currentUser}}</span> (<a href="#" id="logout-link">Logout</a>)</p>

  <h1>All Projects</h1>
  {{#each allProjects}}
    <div class="project">
      <p>{{name}}</p><button class="join-project">Join</button>
    </div>
  {{/each}}

  <h1>Your Projects</h1>
  {{#each userProjects}}
    <div class="project">
      <p>{{name}} <button>Visit</button> </p>
    </div>
  {{/each}}

  <h1>Your Info</h1>
  <div class="info" data-info-id="name">
  	Name: <p>{{info.name}}</p>   <input type="text" value="{{info.name}}" />
  </div>
  <div class="info" data-info-id="email">
    Email: <p>{{info.email}}</p>    <input type="text" value="{{info.email}}" />
  </div>
  <div class="info" data-info-id="phone">
    Phone: <p>{{info.phone}}</p>  <input type="text" value="{{info.phone}}" />
  </div>
  <div class="info" data-info-id="location">
    Location:<p>{{info.location}}</p>  <input type="text" value="{{info.location}}" />
  </div>
  <div class="info" data-info-id="availability">
    Availability: <p>{{info.availability}}</p>  <input type="text" value="{{info.availability}}" />
  </div>
  <div class="info" data-info-id="skills">
    Skills: <p>{{info.skills}}</p>  <input type="text" value="{{info.skills}}" />
  </div>
  <div class="info" data-info-id="timing">
    Timing: <p>{{info.timing}}</p>  <input type="text" value="{{info.timing}}" />
  </div>
  <button class="save-info">Save</button>
</div>
