<div id="user">

  <p><span>Welcome, </span><span>{{currentUser}}</span> (<a href="#" id="logout-link">Logout</a>)</p>

  <h1>View your info</h1>
  <h1>Your Info</h1>
  <div data-info-id="name">
  	Name: <p>{{info.name}}</p>     <button class="edit-info">Edit</button>
  </div>
  <div data-info-id="email">
    Email: <p>{{info.email}}</p>   <button class="edit-info">Edit</button>
  </div>
  <div data-info-id="phone">
    Phone: <p>{{info.phone}}</p>   <button class="edit-info">Edit</button>
  </div>
  <div data-info-id="location">
    Location:<p>{{info.location}}</p>   <button class="edit-info">Edit</button>
  </div>
  <div data-info-id="availability">
    Availability: <p>{{info.availability}}</p>   <button class="edit-info">Edit</button>
  </div>
  <div data-info-id="skills">
    Skills: <p>{{info.skills}}</p>  <button class="edit-info">Edit</button>
  </div>
  <div data-info-id="timing">
    Timing: <p>{{info.timing}}</p>  <button class="edit-info">Edit</button>
  </div>
</div>
