<div id="user">
  <p>Welcome, {{currentUser.authentication.username}} (<a href="#" id="logout-link">logout</a>)</p>
  <h1>Your Projects</h1>

  {{#each projects}}
    <div class="project">
      <p>{{_id}}</p>
      <p>{{name}}</p>
    </div>
  {{/each}}

  <h1>View your info</h1>
  <h1>Your Info</h1>
  <div info-id="name">
  	Name: {{info.name}}   <a href="#" class="edit-info" id="name">Edit</a>
  </div>
  <div info-id="email">
    Email: {{info.email}}   <a href="#" class="edit-info" id=>Edit</a>
  </div>
  <div info-id="phone">
    Phone: {{info.phone}}   <a href="#" class="edit-info" id={{info.phone}}>Edit</a>
  </div>
  <div info-id="location">
    Location: {{info.location}}   <a href="#" class="edit-info" id={{info.location}}>Edit</a>
  </div>
  <div info-id="availability">
    Availability: {{info.availability}}   <a href="#" class="edit-info" id={{info.name}}>Edit</a>
  </div>
  <div info-id="skills">
    Skills: {{info.skills}}  <a href="#" class="edit-info" id={{info.name}}>Edit</a>
  </div>
  <div info-id="timing">
    Timing: {{info.timing}}  <a href="#" class="edit-info" id={{info.name}}>Edit</a>
  </div>
</div>
