<div id="user">

  <div class="container">

    <div class="row">
      <span style="float:right"><a href="#" id="home-link">Home</a><a href="#" id="logout-link">Logout</a></span>
      <h1 class="title">GroupFinder</h1>
    </div>

    
    <div class="row" id="user_info_container">
      <h3>Your Info</h3>

      <div class="col-xs-6">
        <div class="info" data-info-id="name">
          <b>Name:</b> {{info.name}} <br>
          <input type="text" value="{{info.name}}" />
        </div>
        <div class="info" data-info-id="email">
          <b>Email:</b> {{info.email}} <br>
          <input type="text" value="{{info.email}}" />
        </div>
        <div class="info" data-info-id="phone">
          <b>Phone:</b> {{info.phone}} <br>
          <input type="text" value="{{info.phone}}" />
        </div>
        <div class="info" data-info-id="location">
          <b>Location:</b> {{info.location}} <br>
          <input type="text" value="{{info.location}}" />
        </div>
        <div class="info" data-info-id="availability">
          <b>Availability</b>, comma seperated e.g. R10,N11,M10: {{info.availability}} <br>
          <input type="text" value="{{info.availability}}" />
        </div>
      </div>

      <div class="col-xs-6">
        <div class="info" data-info-id="skills">
          <b>Skills</b>, comma seperated e.g. front-end,back-end,bootstrap: {{info.skills}} <br>
          <input type="text" value="{{info.skills}}" />
        </div>
        <div class="info" data-info-id="timing">
          <b>Timing</b>, left is more procrastination, right is less: {{info.timing}} <br>
          <input type="range" name="interaction" min="0" max="10" value=5>
        </div>
      </div>

      <button class="save-info">Save</button>

    </div>

  </div>
</div>