{{!-- File Written by Danielle --}}

<div id="user">
  <div class="container">

    <div class="row">
      <span style="float:right"><a href="#" id="logout-link">Logout</a></span>
      <h1 class="title">GroupFinder</h1>
    </div>

    <div class="row" id="user_container">

      <div id="user_panel" class="col-sm-4">
        <h3>Welcome {{currentUser}}!</h3>
        <a href="#" class="info-page">Edit Info</a> <br>
        <a href="#" class="new-project">New Project</a>
        <br>
        <br>
        <h4>Your Projects</h4>
        <table class="table">
          {{#each userProjects}}
            <tr>
              <td>{{proj_id.name}}</td>
              <td><button id="{{proj_id.name}}" class="visit-project">Visit</button></td>
            </tr>
          {{/each}}
        </table>
      </div>

      <div class="col-sm-8">
        <h3 class="subtitle">All Projects</h3>
        <table class="table">
          <tr>
            <th>Project Name</th>
            <th>Members</th>
            <th>Due Date</th>
            <th>Status</th>
          </tr>
          {{#each allProjects}}
            <tr>
              <td id='proj_name'>{{name}}</td>
              <td>{{users.length}}</td>
              <td>{{date end_date}}</td>
              <td>
                {{#ifInProj ../user_id users}}
                  <button value="{{name}}" class="join-project-request">Join</button></td>
                {{/ifInProj}}
            </tr>
          {{/each}}
        </table>
      </div>

    </div>

  </div>
</div>











