{{!-- File Written by Nick --}}

<div id="user">
  <div class="container">

    <div class="row">
      <span style="float:right"><a href="#" id="home-link">Home</a><a href="#" id="logout-link">Logout</a></span>
      <h1 class="title">GroupFinder</h1>
    </div>

    <div class="row" id="user_info_container">

      <div class="row">
        <h3 class="center">Your Info</h3>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="center">
            <div class="info" data-info-id="name">
              <b>Name:</b> {{info.name}} <br>
              <input type="text" value="{{info.name}}" />
            </div>
            <div class="info" data-info-id="email">
              <b>Email:</b> {{info.email}} <br>
              <input type="text" value="{{info.email}}" />
            </div>
            <div class="info" data-info-id="phone">
              <b>Phone:</b> {{info.phone}} <br>
              <input type="text" value="{{info.phone}}" />
            </div>
            <div class="info" data-info-id="location">
              <b>Location:</b> {{info.location}} <br>
              <input type="text" value="{{info.location}}" />
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="center">
            <div class="info" data-info-id="skills">
              <b>Skills:</b> {{info.skills}} <br> <i>comma seperated e.g. front-end,back-end,bootstrap</i> <br>
              <textarea type="text" rows="6">{{info.skills}}</textarea>
            </div>
            <div class="info" data-info-id="timing">
              <b>Timing</b> <br> <i> left is more procrastination, right is less </i> <br> {{info.timing}} <br>
              <input type="range" name="interaction" min="0" max="10" value="{{info.timing}}">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="center">
            <div class="info" data-info-id="availability">
              <b>Availability:</b> {{info.availability}} <br>
              <div id="schedule-container">
                {{> schedule}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row center">
        <button class="save-info">Update</button>
      </div>

    </div>

  </div>
</div>